apiVersion: v1
kind: Service
metadata:
  name: ai-todo-chatbot-service
  labels:
    app: ai-todo-chatbot
spec:
  selector:
    app: ai-todo-chatbot
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP